.iconHost {
    --icon-size: 18px;
}

.iconPreviewHost {
    composes: iconHost;
}

:global(.tool-icon) {
    display: inline-flex;
    width: var(--icon-size);
    height: var(--icon-size);
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}